body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

img {
  width: 500px;
  height: auto;
}
section {
  margin-bottom: 150px;
}

.card {
  background-color: rgba(255, 255, 255, 0.6);
}

.margin-for-footer {
  margin-bottom: 130px;
}

ul {
  margin-bottom: 5rem;
}

li{
  text-decoration: none;
}