body {
    position: absolute;
    background: url('cakd7_dj\single_pages\static\single_pages\images\bg_img.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

section {
    margin-bottom: 150px;
}


h1{
    text-align: center;
    margin: 0 auto;
}