<!DOCTYPE html>
<html lang="ko">
  {% load static %}
  {% load socialaccount %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="blog-list.css" rel="stylesheet" />
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        />
        <script
          src="https://kit.fontawesome.com/46660e958a.js"
          crossorigin="anonymous"
        ></script>
    </head>
    <body>
      <!-- Responsive navbar-->
      {% include 'blog/navbar.html' %}       

        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">💻 JH's Blog 💻</h1>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
          <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8" id="main-area">
                  {% if user.is_authenticated %}
                    {% if user.is_superuser or user.is_staff %}
                      <a class="btn btn-info btn-sm float-right" href="/blog/create_post/" role="button"><i class="fas fa-pen"></i>&nbsp;&nbsp;New Post</a>
                    {% endif %}
                  {% endif %}
                  <h1>Blog {% if category %}<span class="badge badge-secondary">{{category}}</span>{% endif %}
                  {%if tag%}<span class="badge badge-light"><i class="fas fa-tags"></i>{{tag}}({{tag.post_set.count}})</span>{%endif%}</h1>

                    {% if post_list.exists %} {% for p in post_list %}
                      <!-- Featured blog post-->
                      <div class="card mb-4" id="post-{{p.pk}}">
                          {% if p.head_image %}
                            <img class="card-img-top" src="{{ p.head_image.url }}" alt="{{ p }}"/>
                          {% else %}
                            <img class="card-img-top" src="https://picsum.photos/seed/{{ p.id }}/800/200" alt="random_image">
                          {% endif %}</a>
                      <div class="card-body">
                            <!--category-->
                            {% if p.category %}
                              <span class="badge badge-pill badge-info float-right">{{ p.category }}</span>
                            {% else %}
                              <span class="badge badge-pill badge-info">미분류</span>
                            {% endif %}

                            <!--TEXT CONTENT-->
                            <h2 class="card-title">{{ p.title }}</h2>
                            {% if p.hook_text %}
                              <h5 class="text-muted">{{ p.hook_text }}</h5>
                            {% endif %}
                              <p class="card-text">{{ p.get_content_markdown | truncatewords_html:45 | safe }}</p>

                            <!--tag-->
                            {% if p.tags.exists %}
                              <i class="fas fa-tags"></i>
                              {% for tag in p.tags.iterator %}
                                <a href="{{ tag.get_absolute_url }}"><span class="badge badge-pill badge-light">{{ tag }}</span></a>
                              {% endfor %}  
                              <br/>
                              <br/>
                            {% endif %}

                            <!--readmore-->
                            <a class="btn btn-primary" href="{{ p.get_absolute_url }}">Read more →</a>
                        </div>
                        <div class="card-footer text-muted">
                          Posted on {{ p.created_at}} by <a href="#">{{p.author | upper}}</a>
                        </div>
                    </div>
                    {% endfor %} {% else %}
                    <h3>아직 게시물이 없습니다.</h3>
                    {% endif %}

                    {% if is_paginated %}
                      <!-- Pagination -->
                      <ul class="pagination justify-content-center mb-4">
                        {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">&larr; Older</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">&larr; Older</a>
                                </li>
                            {% endif %}

                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Newer &rarr;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">Newer &rarr;</a>
                                </li>
                            {% endif %}
                      </ul>
                    {% endif %}
                  </div>

                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card my-4" id="categories-card">
                      <h5 class="card-header">Categories</h5>
                      <div class="card-body">
                        <div class="row">
                            <ul>
                              {% for category in categories %}
                                  <li>
                                      <a href="{{ category.get_absolute_url }}">{{ category }}({{ category.post_set.count }})</a>
                                  </li>
                              {% endfor %}
                              <li>
                                  <a href="/blog/category/no_category/">미분류 ({{ no_category_post_count }})</a>
                              </li>
                            </ul>
                        </div>
                      </div>
                    </div>
              </div>
          </div>
      </div>
        <!-- Footer -->
        {% include 'blog/footer.html' %} 
        <!-- Bootstrap core JS-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>